@model Stoker.Models.ViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="container">
        <img src="@Url.Action("RenderUserImage", new { id = Model.Users[0].Id })" alt="Photo change" width="100" height="100" />
        <p class="col-lg-6" style="overflow: scroll; overflow-x: hidden; max-height: 150px;">@Model.Users[0].about </p>
        @Html.ActionLink("Settings", "UserSettings", "UserSettings", null, new { @class = "btn btn-primary" })
    </div>
    <div class="container">
        <h2>@Model.Users[0].firstName @Model.Users[0].lastName</h2>
    </div>
</div>
<div class="col-lg-12 container">
    <fieldset>
        <legend>New Thread</legend>
        @using (@Html.BeginForm("SubmitUserThread", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="container">
                <input type="text" value="Title" name="titleInThread" class="col-lg-3 form-control" />
                <input type="file" name="imgFileInThread" id="ImageFile" accept="image/*" />
            </div>
            <div class="container">
                <textarea name="contentInThread" class="col-lg-12 form-control" style="max-width: 300px">Content</textarea>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        }
    </fieldset>
</div>

@Html.Partial("NewsFeedPartial")