@using Stoker.Models
@{
	Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}
<header>
    <span>
        <a href="~/"><img src="~/Content/Images/logo.jpg" /></a>
    </span>
	<link href="~/Content/FrameStyleSheet.css" rel="stylesheet" />
</header>

<div class="row">
    <div class="col-md-6">
        @Html.Partial("LoginPartial")
    </div>
    <div class="col-md-6">
        @Html.Partial("SignupPartial")
    </div>
</div>
<hr />
<footer>
	<span id="aboutUsFooter" class="bottom">
		@Html.ActionLink("About Us", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
	</span>
	<span id="backToTopFooter">
		@Html.ActionLink("FAQ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
	</span>
</footer>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

