@model Stoker.Models.ViewModel

<div class="mainNewsfeed">
    @foreach (var item in Model.threads)
    {
        <div class="threadItem">
            <div class="threadTop">
                <div class="threadUsername">
                    @item.nameOfPoster
                </div>
                <div class="threadTitle">
                    @item.title
                </div>
                <div class="threadInterestOrGroup">
                    TODO link to that page
                </div>
            </div>
            <div class="threadContent">
                @item.mainContent
            </div>
            <div class="DetailView">
                <a href="#">Detailed view with comment //TODO rename this</a>
            </div>
       @*    <div class="threadComments">
                @foreach (var comment in Model.comments)
                {
                    <div class="singleComment">
                        <div class="singleCommentAuthor">
                            @comment.commentAuthor
                        </div>
                        <div class="singleCommentContent">
                            @comment.content
                        </div>
                    </div>
                }
            </div>
            <div class="threadNewComment">
                <form>
                    <input type="text" />
                    <input type="submit" value="Post Comment" />
                </form>
            </div>*@
        </div>
    }
</div>