@model Stoker.Models.ViewModel

<div class="mainNewsfeed">
    @if (Model.threads != null)
    {
        foreach (var item in Model.threads)
        {
            <div class="threadItem">
                <div class="threadTop">
                    <span class="threadTitle">
                        @item.title
                    </span>

                    <span  class="threadUsername">
                        @item.originalPoster.firstName  @item.originalPoster.lastName
                    </span>
                    <span>
                        @item.dateCreated
                    </span>
                
                        <span id="UserLike">
                            <input type="button" id="likebutton" name="likeButton" />
                        </span>
                    
                   @* <span id="likeCount">
        @item.likes
    </span>*@
                </div>
                <div class="threadContent">
                    @if (item.image != null)
                    {
                        <img src="@Url.Action("RenderThreadImage", new { id = item.threadID })" alt="Photo change" width="100" height="100" />
                    }
                    @*TODO setja myndadótið*@
                    <span id="textContent">
                        @item.mainContent
                    </span>
                </div>
                <span class="DetailView">
                    <a href="#">Detailed view with comment //TODO rename this</a>
                </span>
           @*    <div class="threadComments">
                    @foreach (var comment in Model.comments)
                    {
                        <div class="singleComment">
                            <div class="singleCommentAuthor">
                                @comment.commentAuthor
                            </div>
                            <div class="singleCommentContent">
                                @comment.content
                            </div>
                        </div>
                    }
                </div>
                <div class="threadNewComment">
                    <form>
                        <input type="text" />
                        <input type="submit" value="Post Comment" />
                    </form>
                </div>*@
            </div>
        }
    }
</div>