@model Stoker.Models.ViewModel

<div class="mainNewsfeed">
    @if (Model.threads != null)
    {
        foreach (var item in Model.threads)
        {
            <div class="threadItem well well-lg">
                <div class="threadTop">
                    <span class="threadTitle">
                        @item.title
                    </span>

                    <span class="threadUsername">
                        Posted by: <a href="http://localhost:65443/Profile/FriendIndex?userID=@item.originalPoster.Id">@item.originalPoster.firstName  @item.originalPoster.lastName</a>
                    </span>
                    <span>
                        @item.dateCreated
                    </span>
                    <div>
                        <button class="likeButton" value=@item.threadID>Like</button>
                        <span class="likeCount">
                            Likes: @item.likes
                        </span>
                    </div>
                </div>
                <div class="threadContent">
                    @if (item.image != null)
                    {
                        <img src="@Url.Action("RenderThreadImage", new { id = item.threadID })" alt="Photo change" width="100" height="100" />
                    }
                    <span id="textContent">
                        @item.mainContent
                    </span>
                </div>
                <span class="DetailView">
                    @Html.ActionLink("Go to comments", "ThreadDetail", "ThreadDetail", new { threadID = @item.threadID }, new { @class = "btn btn-default" })
                </span>
            </div>
        }
    }
</div>