@model Stoker.Models.ViewModel
<nav class="navbar-left col-md-2" id="sidebarEveryPage">
	<!--<link href="~/Content/SidebarStyleSheet.css" rel="stylesheet" />-->
	<link href="~/Content/FrameStyleSheet.css" rel="stylesheet" />
	<div class="interestsSidebar">
		<h3>Interests</h3>
		<ul>
			@for (int i = 1; i <= 15; i++)
			{
				<li>interest @i</li>
			}
			@*@foreach (Stoker.Models.InterestModel interest in Model.interests)
			{
				<li><input type="checkbox" name=@interest.name value=@interest.name /> @interest.name</li>
			}*@
		</ul>
	</div>
	<div class="groupsSidebar">
		<h3>Groups</h3>
		<ul>
			@*@for (int i = 1; i <= 15; i++)
			{
				<li>group @i</li>
			}*@
		  @foreach (var group in Model.groups)
			{
				<li>@Html.ActionLink("@group.title", "GroupProfile", "GroupProfile", @group.groupID, new { id = @group.groupID })</li>
			}
		</ul>
	</div>
</nav>