@model Stoker.Models.ViewModel

@section JavaScript{
    <script type="text/javascript" src="@Url.Content("/Scripts/NewsFeed.js")"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/GroupProfileScripts.js")"></script>
}

@{
    ViewBag.Title = "GroupProfile";
}

<div class="container">
    <div class="container">
        <input type="hidden" value="@Model.groups[0].groupID" id="idGroup" />
        <h2>@Model.groups[0].title</h2>
        <input type="button" class="btn btn-primary" value="Join group" id="groupButton" />
    </div>
    <div class="container">
        <img src="@Url.Action("RenderGroupImage", new { id = Model.groups[0].groupID })" alt="Photo change" width="100" height="100" />
        <p class="col-lg-6" style="overflow: scroll; overflow-x: hidden; max-height: 150px;">@Model.groups[0].about </p>
    </div>
   
</div>
    