@model Stoker.Models.ViewModel 

@section JavaScript{
    <script type="text/javascript" src="@Url.Content("/Scripts/NewsFeed.js")"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/GroupProfileScripts.js")"></script>
}

@{
    ViewBag.Title = "GroupProfile";
}

<div class="container">
    <div class="container">
        <img src="@Url.Action("RenderGroupImage", new { id = Model.groups[0].groupID })" alt="Photo change" width="100" height="100" />
        <p class="col-lg-6" style="overflow: scroll; overflow-x: hidden; max-height: 150px;">@Model.groups[0].about </p>
       @* @{
            if(Model.Users[0].Id == Model.groups[0].groupAdmin.Id){
                @Html.ActionLink("Settings", "GroupSettings", new { goToGroupID = @Model.groups[0].groupID }, new { @class = "btn btn-primary" })
            }
           }*@
    </div>
    <div class="container">
        <input type="hidden" value="@Model.groups[0].groupID" id="idGroup" />
        <h2>@Model.groups[0].title</h2>
        <input type="button" class="btn btn-primary" value="Join group" id="groupButton" />
    </div>
    <div class="container">
        <div id="profilePicture">
            <img src="@Url.Action("RenderGroupImage", new { id = Model.groups[0].groupID })" alt="Photo change" width="100" height="100" />
        </div>
        <div id="aboutMe">
            <p class="col-lg-6" style="overflow: scroll; overflow-x: hidden; max-height: 150px;">@Model.groups[0].about </p>
        </div>
    </div>
    <div class="col-md-4">
        @{
            if (Model.Users[0].Id == Model.groups[0].groupAdmin.Id)
            {
                @Html.ActionLink("Settings", "GroupSettings", new { goToGroupID = @Model.groups[0].groupID }, new { @class = "btn btn-primary" })
            }
        }
    </div>

</div>
<div class="col-lg-12 container">
    <div class="formPadding">
        <fieldset>
            <legend>New Thread</legend>
            @using (@Html.BeginForm("SubmitGroupThread", "GroupProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="container">
                    <input type="text" placeholder="Title" name="titleInThread" class="col-lg-3 form-control" />
                    <input type="file" value="Photo" name="photoInThread" class="col-lg-3" id="inputPhoto" />
                    <input type="hidden" name="groupID" value=@Model.groups[0].groupID />
                </div>
                <div class="container">
                    <textarea name="contentInThread" placeholder="Content" class="col-lg-12 form-control" style="max-width: 300px"></textarea>
                    <input type="submit" value="Submit" class="btn btn-primary" id="photoSubmit" />
                </div>
            }
        </fieldset>
    </div>
    <div class="col-md-10">
        <select name="filterBy" id="filterBy">
            <option value="1">Group</option>
        </select>
        <div>
            @Html.Partial("NewsFeedPartial");
        </div>
    </div>
    
</div>