@model Stoker.Models.ViewModel 

@section JavaScript{
    <script type="text/javascript" src="@Url.Content("/Scripts/NewsFeed.js")"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/GroupProfileScripts.js")"></script>
}

@{
    ViewBag.Title = "GroupProfile";
}

<div class="container">
    <div class="container">
        <img src="@Url.Action("RenderGroupImage", new { id = Model.groups[0].groupID })" alt="Photo change" width="100" height="100" />
       @* <img src="@Model.groups[0].image" alt="Profile picture" class="img-responsive col-lg-4" /> *@
        <p class="col-lg-6" style="overflow: scroll; overflow-x: hidden; max-height: 150px;">@Model.groups[0].about </p>
        @Html.ActionLink("Settings", "GroupSettings", new { goToGroupID = @Model.groups[0].groupID }, new { @class = "btn btn-primary" })
    </div>
    <div class="container">
        <input type="hidden" value="@Model.groups[0].groupID" id="idGroup" />
        <h2>@Model.groups[0].title</h2>
        <input type="button" class="btn btn-primary" value="Join group" id="groupButton" />
    </div>
</div>
<div class="col-lg-12 container">
    <fieldset>
        <legend>New Thread</legend>
        @using (@Html.BeginForm("SubmitGroupThread", "GroupProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="container">
                <input type="text" placeholder="Title" name="titleInThread" class="col-lg-3 form-control" />
                <input type="file" value="Photo" name="photoInThread" class="col-lg-3" id="inputPhoto" />
                <input type="hidden" name="groupID" value=@Model.groups[0].groupID />
            </div>
            <div class="container">
                <textarea name="contentInThread" placeholder="Content" class="col-lg-12 form-control" style="max-width: 300px"></textarea>
                <input type="submit" value="Submit" class="btn btn-primary" id="photoSubmit"/>
            </div>
        }
    </fieldset>
    <div>
        <select name="filterBy" id="filterBy">
            <option value="1">Group</option>
        </select>
    </div>
    @Html.Partial("NewsFeedPartial");
</div>