@{
    ViewBag.Title = "UserSettingsView";
}
@model Stoker.Models.ViewModel


    <head>
        <title>"User settings"</title>
    </head>
    <body>
        @Html.Partial("HeaderPartialView")
        @*@Html.Partial("SidebarPartialView")*@
        <div id="photoContainer">
            <img src="" alt="Photo change" />
            <button id="changePhoto">"Change Photo"</button>
        </div>
        <div>
            <fieldset>
                <legend>About me</legend>
                <textarea id="AboutTextarea"> @if (Model.Users[0] != null)
                                              {
                                                  @Model.Users[0].about
                                              }
                </textarea>
                <span id="AboutMeError">About me section can not be empty</span>
                <button id="AboutSubmit">Change about me</button>
                <button>Create new interest</button>
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset>
                <ul>
                    @foreach (Stoker.Models.GroupModel group in Model.groups)
                    {
                         
                        <li><input type="checkbox" name=@group.title value=@group.title /> @group.title</li>
                    }
                </ul>
                <button id="deleteGroupButton"> Delete selected groups</button>
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset>
                <ul>
                    @foreach (Stoker.Models.InterestModel interest in Model.interests)
                    {

                        <li><input type="checkbox" name=@interest.name value=@interest.name /> @interest.name</li>
                    }
                </ul>
            <button id="deleteInterestButton"> Delete selected interests</button>
            </fieldset>
        </div>
        <div class="col-md-4">
            <button>Create new group</button>
        </div>

                    @Html.Partial("FooterPartialView")\


        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/UserSettingScripts.js" type="text/javascript"></script>
    </body>
